.u{
    text-align: center;
    color: white;
    background-color: #5e3001b4;
    right: 250px;
    border: 2px solid saddlebrown;
    border-radius: 25px;
    margin: auto;
    width: 30%;
    padding: 10px;
}
#c2{
    /* width: 300px; */
    height: 70px;
    text-align: center;
    padding-top: 25px;
    padding: 20px;
    /* background-color: #5e3001b4; */
    border-radius: 20px;
    font-size: 25px;
}
.card2 {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    grid-gap: 20px;
    height: 300px;
    position: absolute;
    left: 820px;
    top: 520px;
    text-align: center;
}